#maximal read length
max_rd_len=100
[LIB]

#average insert size
avg_ins=200

#if sequence needs to be reversed
reverse_seq=1

#in which part(s) the reads are used
asm_flags=3

#in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection
pair_num_cutoff=2

#fastq file for read 1
q1=forward

#fastq file for read 2 always follows fastq file for read 1
q2=reverse